html {
    height: 100%;
}

/* ==========================================
    RESET
===========================================*/

* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/*====================================
    BASE STYLES
====================================*/

body {
    width: 100%;
    height: 100%;


}


* {
    font-size: 1em;
}

#main {
    background-color: #ddd;
    padding-top: 120px;
    min-height: 500px;
    margin-left: 60px;
    margin-right: 60px;

}

.container {
    background-color: rgb(255, 255, 255);

}

p {
    margin-bottom: 30px;
}



/*====================================
    HEADER STYLES
====================================*/
header {
    background: #e9e9e9;
    box-shadow: 0px -3px 15px 2px;
    display: flex;
}

.header-container {
    background: #eee;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.logo {
    width: 140px;
    height: 160px;
    margin-top: 10px;
    border-radius: 25px;
}


/*====================================
  MENU STYLES
====================================*/

.main-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 25px;
    overflow: visible;
    max-width: 700px;
}

.main-menu .toggleNav {
    display: none;
    overflow: hidden;
}

.main-menu .toogleNav:after {
    display: inline-flex;
    overflow: visible;
}

.main-menu a.bg {
    background-color: #dddddd;
}

.main-menu a {
    width: 100%;
    text-align: center;
    padding: .75em 1em;
    display: block;
    color: rgb(2, 2, 2);
    border-bottom: 5px solid #ddd;
}

.main-menu a:hover {
    color: #c73d3d;
    border-bottom-color: #ffffff;
}

.main-menu a i {
    color: white;
}

.main-menu a i:hover {
    color: #c73d3d;
    border-bottom-color: #ffffff;
}

/*====================================
  DROPDOWN MENU STYLES
====================================*/

.drop-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: max-height .4s, opacity .3s;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}


.drop-menu>.menu-button {
    height: 100%;
    transition: transform .4s;
    transform: translateY(-300%);
    background: #aaa;
}

.dropdown-container:hover>.menu-button {
    color: #fcfcfc;
    background: #333;
}


.dropdown-container:hover .drop-menu {
    max-height: 300px;
    opacity: 1;
}


.dropdown-container:hover>.drop-menu .menu-button {
    transform: translateY(0%);
}

/*====================================
Social media buttons
=====================================*/
.main-menu ul {
    background-color: #a5a8a8;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

.main-menu li {
    flex: 3;
}

.main-menu social {
    flex: 1;
}

/*====================================
  MEDIA QUERIES
====================================*/
@media all and (max-width:500px) {
    .main-menu li {
        flex-basis: 100%
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .container>* {
        order: 5000;
    }

    .main-menu {
        order: 1;
    }

    .toggleNav {
        display: block;
    }

    .main-menu ul {
        display: none;
    }

    .main-menu ul.open {
        display: flex;
    }
}

@media (min-width: 550px) {


    /*====================================
      DROP-MENU EFFECTS (LARGER SCREENS)
    ====================================*/

    .effect {
        transition: max-height 0s;
        opacity: 1;
        background: transparent;
    }

    .effect .menu-button {
        transform: translateY(0%);
    }

    .fade-in .menu-button {
        transition: opacity .5s;
        opacity: 0;
    }

    .dropdown-container:hover .fade-in .menu-button {
        opacity: 1;
    }

    .header-container {
        width: 100%;
    }

    .header-container {
        height: 160px;
        justify-content: space-between;
    }

    .main-menu {
        flex-direction: row;
        align-items: flex-start;
        height: 48px;
        margin: 0;
        flex-wrap: nowrap;
    }

    .main-menu>.menu-button {
        width: 23%;
        max-width: 150px;
    }

    .logo {
        max-width: 130px;
        max-height: 160px;
        margin-top: 15px;
    }

}

@media (min-width: 850px) {

    .header-container {
        flex-direction: row;
        justify-content: space-around;
        height: 160px;
    }

    .main-menu {
        width: 60%;
        justify-content: space-between;
    }

    .logo {
        margin: 0;
    }

}

/*============================
        Evenement
============================*/

h1.evenement {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
    color: black;
    text-decoration: underline;
    text-underline-position: under;
}

.photo-evenement {
    display: flex;
    justify-content: center;
}

.strong {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    border: 4px inset black;
    margin-right: 10px;
    border-radius: 30px;
}

.nostrong {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    border: 4px outset black;
    margin-right: 10px;
    border-radius: 30px;
}

.tarif {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    border: 2px outset black;
    border-radius: 40px;
}

.map1{
    display: flex;
    margin: 0 auto;
    height: 440px;
    padding-top: 40px;
}

.description {
    justify-content: flex-end;
    background-color: #ac9458;
    width: 500px;
}


.flexbox-container {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 25px;
}

.flexbox-container > div {
    padding: 20px 0 0 0;
    justify-content: center;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
}

.date {
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .photo-evenement {
        flex-direction: column;
        align-items: center;
    }
}

/*===========================
         PHOTOS 
  ===========================*/

.h1photos {
    text-align: center;
    padding: 70px 0 15px 0;
    color: black;
    text-decoration: underline;
    text-underline-position: under;
}


#galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../images/Kraken2.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#galerie img {
    flex: 1 1 auto;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 200px;
    margin: 0.5rem;
    object-fit: cover;
    border: 2px inset rgb(116, 135, 151);
    border-radius: 10px;
    box-shadow: 2px 2px 2px #28323B;
    transform: scale(1);
    transition: transform 2s;
}

#galerie img:hover {
    transform-origin: 50% 50%;
    transform: scale(2);
    z-index: 999;
    border-radius: 10px;

}

/*==============================
            Contact
==============================*/

.contactcontainer {
    background-image: url(../images/k1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

.wrapper {
    max-width: 700px;
    margin: 50px auto;
    background: #4e9fe2;
    box-sizing: border-box;
    padding: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 50px;
    font-size: 35px;
}

.address {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: rgb(255, 255, 255);;
    margin-bottom: 50px;
}

.a-icon {
    color: rgb(255, 255, 255);
}

.inner-address p {
    font-size: 12px;
}

.inner-address .fas {
    font-size: 30px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.form-title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.input-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.inner-msg {
    width: 100%;
    margin-bottom: 20px;
}

.input>input {
    border: 0;
    width: 260px;
    padding: 10px 20px;
    outline: none;
}

.msg>textarea {
    width: 100%;
    border: 0;
    padding: 10px 20px;
    outline: none;
    height: 80px;
}

.btn {
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #fff;
    color: #6465a5;
}

.social {
    display: flex;
    justify-content: center;
    color: #a9aacd;
}

.inner-social .fab {
    margin: 0 20px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.fab:hover {
    color: rgb(8, 8, 8);
}

::-webkit-input-placeholder {
    color: #a9aacd;
}

::-moz-placeholder {    
    color: #a9aacd;
}

:-ms-input-placeholder {
    color: #c2a9cd;
}

@media screen and (max-width: 640px) {
    .input-form {
        flex-direction: column;
    }

    .input:first-child>input {
        margin-bottom: 20px;
    }

    .form .input>input {
        width: 100% !important;
    }
}

@media screen and (max-width: 580px) {
    .address {
        flex-direction: column;
        align-items: center;
    }

    .inner-address {
        margin-bottom: 20px;
    }

    .social {
        flex-direction: column;
        align-items: center;
    }

    .inner-social {
        margin-bottom: 20px;
    }
}


/*=============================
        footer
 ==============================*/

footer {
    background-color: black;
    background: rgb(192, 202, 222);
    background: linear-gradient(87deg, rgba(192, 202, 222, 1) 0%, rgba(45, 62, 154, 1) 49%, rgba(29, 125, 196, 1) 85%);
    height: 125px;
}

.p-footer {
    color: black;
    margin-top: 50px;
    text-align: center;
}

.copyright {
    padding: 15px;
}

.copyright a {
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}